@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
.TableBG{
  overflow-x: auto;
  width: 100%;
}
table {
    /* float: right; */
    font-family: 'Open Sans', sans-serif;
    border: 2px solid gray;
    border-collapse: collapse;
    width: 100%;
    color: white;
    background-color:rgba(0, 0, 0, 0.3);
  }
  th, td {
    border: .5px solid rgb(255, 255, 255);
    text-align: center;
    padding: 8px;
  }
  .tableHead{
    color: white;
  }
  
  /* tr:nth-child(even) {background-color: #f2f2f2;} */
  .StatusConfirmed{
      font-size: larger;
      color: green;
      padding: 10px;
      text-align: center;
      cursor: pointer;
      /* background-color: gray; */
  }
  .StausNotConfirmed{
    font-size:larger;
    color: red;
    padding: 10px;
    text-align: center;
    cursor: pointer;
  }
  .Call{
    margin-top: 10px;
    font-size: large;
    color: rgb(0, 119, 255);
    padding: 10px;
    text-align: center;
    cursor: pointer;
  }
  .SendEmail{
    font-size: larger;
    color: rgb(255, 60, 60);
    padding: 10px;
    text-align: center;
    cursor: pointer;
  }
  .rejected{
      font-weight: bold;
      text-align: center;
      color: red;
      font-size: large;
  }
  .confirmed{
    font-weight: bold;
    text-align: center;
      color: green;
      font-size: large;
  }
  .OrderDetails{
    color: white;
    text-align: center;
  }